<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bower_components/bootstrap/Gruntfile.js"></script>
    <script src="/js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/bower_components/bootstrap/dist/js/npm.js"></script>
    <script src="/js/bower_components/bootstrap/grunt/bs-commonjs-generator.js"></script>
    <script src="/js/bower_components/bootstrap/grunt/bs-lessdoc-parser.js"></script>
    <script src="/js/bower_components/bootstrap/grunt/bs-raw-files-generator.js"></script>
    <script src="/js/bower_components/bootstrap/js/affix.js"></script>
    <script src="/js/bower_components/bootstrap/js/alert.js"></script>
    <script src="/js/bower_components/bootstrap/js/button.js"></script>
    <script src="/js/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/js/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/js/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/js/bower_components/bootstrap/js/modal.js"></script>
    <script src="/js/bower_components/bootstrap/js/popover.js"></script>
    <script src="/js/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/js/bower_components/bootstrap/js/tab.js"></script>
    <script src="/js/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/js/bower_components/bootstrap/js/transition.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.js"></script>
    <script src="/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/bower_components/jquery/src/ajax.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/jsonp.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/load.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/parseJSON.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/parseXML.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/script.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/var/nonce.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/var/rquery.js"></script>
    <script src="/js/bower_components/jquery/src/ajax/xhr.js"></script>
    <script src="/js/bower_components/jquery/src/attributes.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/attr.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/classes.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/prop.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/support.js"></script>
    <script src="/js/bower_components/jquery/src/attributes/val.js"></script>
    <script src="/js/bower_components/jquery/src/callbacks.js"></script>
    <script src="/js/bower_components/jquery/src/core.js"></script>
    <script src="/js/bower_components/jquery/src/core/access.js"></script>
    <script src="/js/bower_components/jquery/src/core/init.js"></script>
    <script src="/js/bower_components/jquery/src/core/parseHTML.js"></script>
    <script src="/js/bower_components/jquery/src/core/ready.js"></script>
    <script src="/js/bower_components/jquery/src/core/var/rsingleTag.js"></script>
    <script src="/js/bower_components/jquery/src/css.js"></script>
    <script src="/js/bower_components/jquery/src/css/addGetHookIf.js"></script>
    <script src="/js/bower_components/jquery/src/css/curCSS.js"></script>
    <script src="/js/bower_components/jquery/src/css/defaultDisplay.js"></script>
    <script src="/js/bower_components/jquery/src/css/hiddenVisibleSelectors.js"></script>
    <script src="/js/bower_components/jquery/src/css/support.js"></script>
    <script src="/js/bower_components/jquery/src/css/swap.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/cssExpand.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/getStyles.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/isHidden.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/rmargin.js"></script>
    <script src="/js/bower_components/jquery/src/css/var/rnumnonpx.js"></script>
    <script src="/js/bower_components/jquery/src/data.js"></script>
    <script src="/js/bower_components/jquery/src/data/Data.js"></script>
    <script src="/js/bower_components/jquery/src/data/accepts.js"></script>
    <script src="/js/bower_components/jquery/src/data/var/data_priv.js"></script>
    <script src="/js/bower_components/jquery/src/data/var/data_user.js"></script>
    <script src="/js/bower_components/jquery/src/deferred.js"></script>
    <script src="/js/bower_components/jquery/src/deprecated.js"></script>
    <script src="/js/bower_components/jquery/src/dimensions.js"></script>
    <script src="/js/bower_components/jquery/src/effects.js"></script>
    <script src="/js/bower_components/jquery/src/effects/Tween.js"></script>
    <script src="/js/bower_components/jquery/src/effects/animatedSelector.js"></script>
    <script src="/js/bower_components/jquery/src/event.js"></script>
    <script src="/js/bower_components/jquery/src/event/ajax.js"></script>
    <script src="/js/bower_components/jquery/src/event/alias.js"></script>
    <script src="/js/bower_components/jquery/src/event/support.js"></script>
    <script src="/js/bower_components/jquery/src/exports/amd.js"></script>
    <script src="/js/bower_components/jquery/src/exports/global.js"></script>
    <script src="/js/bower_components/jquery/src/intro.js"></script>
    <script src="/js/bower_components/jquery/src/jquery.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/_evalUrl.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/support.js"></script>
    <script src="/js/bower_components/jquery/src/manipulation/var/rcheckableType.js"></script>
    <script src="/js/bower_components/jquery/src/offset.js"></script>
    <script src="/js/bower_components/jquery/src/outro.js"></script>
    <script src="/js/bower_components/jquery/src/queue.js"></script>
    <script src="/js/bower_components/jquery/src/queue/delay.js"></script>
    <script src="/js/bower_components/jquery/src/selector-native.js"></script>
    <script src="/js/bower_components/jquery/src/selector-sizzle.js"></script>
    <script src="/js/bower_components/jquery/src/selector.js"></script>
    <script src="/js/bower_components/jquery/src/serialize.js"></script>
    <script src="/js/bower_components/jquery/src/sizzle/dist/sizzle.js"></script>
    <script src="/js/bower_components/jquery/src/sizzle/dist/sizzle.min.js"></script>
    <script src="/js/bower_components/jquery/src/traversing.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/findFilter.js"></script>
    <script src="/js/bower_components/jquery/src/traversing/var/rneedsContext.js"></script>
    <script src="/js/bower_components/jquery/src/var/arr.js"></script>
    <script src="/js/bower_components/jquery/src/var/class2type.js"></script>
    <script src="/js/bower_components/jquery/src/var/concat.js"></script>
    <script src="/js/bower_components/jquery/src/var/hasOwn.js"></script>
    <script src="/js/bower_components/jquery/src/var/indexOf.js"></script>
    <script src="/js/bower_components/jquery/src/var/pnum.js"></script>
    <script src="/js/bower_components/jquery/src/var/push.js"></script>
    <script src="/js/bower_components/jquery/src/var/rnotwhite.js"></script>
    <script src="/js/bower_components/jquery/src/var/slice.js"></script>
    <script src="/js/bower_components/jquery/src/var/strundefined.js"></script>
    <script src="/js/bower_components/jquery/src/var/support.js"></script>
    <script src="/js/bower_components/jquery/src/var/toString.js"></script>
    <script src="/js/bower_components/jquery/src/wrap.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
