<div class="container">
    <div class="main-content">
        <div class="row main-post-box">

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Label</h3>
                        <p>Text</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
